*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  background: #dde6ed;
}

/* Main */
.header{
  padding: 12px;
  background: #fff;
}
.header-icon{
  /* background-color: #d2e3c8; */
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  /* color: #70b17f; */
  cursor: pointer;
}
.content{
  margin: 15px;
  padding: 30px;
  background: #fff;
  overflow: auto;
}

/* Sider */
.sider{
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}
.logo{
  /* color: #4f4f4d; */
  margin: 8px 15px;
  font-size: 1.5rem;
}
.logo-text{
  text-align: center;
  font-size: 16px;
  /* display: inline-block; */
  padding: 5px;
  color: #fff;
  font-weight: 600;
}
.collapse-btn{
  font-size: 16px;
  width: 50px;
  height: 50px;
  /* position: fixed;
  bottom: 10px;
  left: 10px; */
}
.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected{
  /* background: #70b17f !important;
  color: #fff !important; */
}
.float-box{
  height: 300px;
  background: #dde6ed;
}
.float-style{
  position: relative !important;
}
.typography-wrapper .ant-typography{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.divider-wrapper .ant-divider-horizontal.ant-divider-with-text::before, .divider-wrapper .ant-divider-horizontal.ant-divider-with-text::after{
  /* border-block-start: 1px solid transparent !important; */
  border-block-start-color: #000 !important;
}
.divider-wrapper .ant-divider-vertical{
  border-inline-start: 1px solid #000;
}
.grid-row .ant-col{
  background: lightskyblue;
  padding: 15px;
  height: 45px;
  text-align: center;
  border:1px solid #089af4;
}
.gutter-div{
  background: lightskyblue;
  padding: 8px 0;
  text-align: center;
  padding: 15px;
  height: 45px;
}

/* Layout */

.layout-logo {
  width: 120px;
  /* min-width: 120px; */
  height: 32px;
  background: #fff;
  border-radius: 6px;
  margin-inline-end: 24px;
  /* padding: 3px; */
}


/* Space */

.space-align-block{
  border: 1px solid #ddd;
  padding: 10px;
}

.space-align-block-item{
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.carouselStyle{
  margin: 0;
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
};

.tabStyle{
  width: 300px;
  height: 300px;
  background: floralwhite;
  padding: 15px;
  border: 1px solid #ccc;
}